/* ---------------- INDEX ----------------------------
1. BASE
2. VARIANTS
3. STATES
----------------------------------------------------- */

/* 1. BASE */

.checkbox__checklist input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: var(--spacing-1);
  height: var(--spacing-1);
  margin: 0;
  pointer-events: none;
}

.checkbox__checklist .checkbox__option-label {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 0 0 0 var(--spacing-24);
  cursor: pointer;
}

.checkbox__checklist .label {
  display: inline-flex;
  align-items: center;
}

.checkbox__checklist .checkbox__option-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: var(--spacing-16);
  height: var(--spacing-16);
  box-sizing: border-box;
  border: var(--spacing-1) solid var(--border-light);
  border-radius: var(--border-radius-xs);
  background: var(--surface-default);
  transition:
    background-color 150ms ease-out,
    border-color 150ms ease-out,
    box-shadow 150ms ease-out,
    opacity 150ms ease-out;
}

.checkbox__checklist
  .checkbox__option-label:has(input[type="checkbox"]:checked)::after {
  content: "";
  position: absolute;
  left: calc(var(--spacing-16) / 2);
  top: 50%;
  width: var(--spacing-10);
  height: var(--spacing-10);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M20 6 9 17l-5-5'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(-50%, -50%);
}

.checkbox__checklist
  .checkbox__option-label:has(input[type="checkbox"]:checked)::before {
  background: var(--accent-primary);
  border-color: var(--accent-primary);
}

/* 2. STATES */

/* Hover */

.checkbox__checklist .checkbox__option-label:hover::before {
  background: var(--surface-medium);
  border-color: var(--border-medium);
}

.checkbox__checklist
  .checkbox__option-label:hover:has(input[type="checkbox"]:checked)::before {
  opacity: 0.9;
}

/* Focus */

.checkbox__checklist
  .checkbox__option-label:has(input[type="checkbox"]:focus-visible)::before,
.checkbox__checklist
  .checkbox__option-label:has(input[type="checkbox"]:focus)::before {
  box-shadow: 0 0 0 var(--spacing-2) var(--border-lightest);
}

/* Active */

.checkbox__checklist .checkbox__option-label:active::before {
  background: var(--surface-light);
  border-color: var(--border-heavy);
}

.checkbox__checklist
  .checkbox__option-label:active:has(input[type="checkbox"]:checked)::before {
  opacity: 0.8;
}
