/* ---------------- INDEX ----------------------------
1. BASE STYLES
2. BUTTONS
----------------------------------------------------- */

/* 1. BASE STYLES */
.action-bar {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--black); /* TODO: Change on Figma */
    border-radius: var(--border-radius-lg);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-6);
    padding-left: var(--spacing-12);
    gap: var(--spacing-10);
    transition: all 0.3s ease;
    min-width: 300px;
    min-height: 44px;
    width: auto;
    opacity: 1;
    visibility: visible;
    color: var(--white);
    box-shadow: var(--shadow-md);
    border: var(--border-normal) solid var(--white-6);
}

.action-bar.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) translateY(20px);
}

.action-bar__selection-count {
    background-color: var(--accent-primary);
    padding: var(--spacing-4) var(--spacing-4) var(--spacing-2);
    border-radius: var(--border-radius-xs);
}

/* 2. BUTTONS */
.action-bar__btn {
    height: 32px;
    padding-inline: var(--spacing-8);
    color: var(--white);
}

.action-bar__btn.button--outline {
    border: var(--border-normal) solid var(--white-6);
}

.action-bar__btn:disabled {
    color: var(--white-20);
}

.action-bar__btn:not(.button--destructive):active {
    color: var(--white-60);
}

.action-bar__btn:focus {
    outline-color: var(--white-6);
}

.action-bar__btn:hover {
    background-color: var(--white-2);
}
