# Database
DB_SCHEME=postgresql+asyncpg
DB_USER=user
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres

# Authentication - API Keys
HASHED_API_KEY=your_hashed_api_key_here

# Authentication - OIDC
OIDC_METADATA_URL=https://your-oidc-provider/.well-known/openid-configuration
OIDC_CLIENT_ID=your_client_id
OIDC_AUDIENCE=your_audience
OIDC_SCOPES='openid profile'

# AIRPY
AIRPY_STAGE_USERNAME=your_airpy_username
AIRPY_STAGE_PASSWORD=your_airpy_password

# AWS S3 / Boto3
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=us-east-1
AWS_S3_BUCKET=your_bucket_name
